{% extends 'base.html.twig' %}

{% block title %}Choose a record - {{ parent() }}{% endblock %}

{% block body %}
<h1>{{ title }}</h1>

<div>
    Tracks :

    <ul>
        {% for track in tracks1 %}
            <li>{{ track }}</li>
        {% endfor %}
    </ul>

    <ul>
        {% for track in tracks2 %}
            <li>{{ track.title|upper|lower }} : {{ track.artist }}</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
